body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: "Helvetica";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom: 3px solid #CECECE
}

#profile {
    float: right;
    background-color: #646E78;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    margin: 10px;
}

#profImg {
    height: 50px;
    width: auto;
    float: right;
    background-color: #FFFFFF;
    margin-right: 10px;
    margin-left: 40px;
}

#logo {
    float: left; 
    margin-left: 10px; 
    height: 70px; 
    width: auto;
    margin: 10px;
}

#main {
    background-color: #FFFFFF;
    display:grid;
    grid-auto-flow: column;
    justify-content: center;
    width: 99%;
    margin: 20px 0.5%;
    border-top: 40px solid #7D8892;
    border-left: 3px solid #CECECE;
    border-right: 3px solid #CECECE;
    border-bottom: 3px solid #CECECE;
}

#content {
    font-size: 150%;
    margin-left: 60px;
}

#inputForm {
    margin-top: 100px;
    margin-right: 10px;
}

#prodImg {
    height: 60vh;
    width: auto;
    margin: 20px;
}

#guess {
    width: 30vh;
    font-size: 300%;
    margin-bottom: 10px;
}

button {
    font-size: 175%;
    background-color: #65D548;
    font-weight: bold;
    padding: 0px 20px;
}

.modalContainer {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.3s ease;
}

.modalContainer.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #ffffff;
    border-radius 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
}

#leaderboard {
    border-collapse: collapse;
    width: 99%;
    margin: 0;
    margin-left: 0.5%;
}

#leaderboard th, #leaderboard td {
    border: 1px solid black;
    padding: 20px;
}

#leaderboard th {
    background-color: #646E78;
    color: #FFF;
    text-align: left;
}

