body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: "Helvetica";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom: 3px solid #CECECE
}

#profile {
    float: right;
    background-color: #646E78;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    margin: 10px;
}

#profImg {
    height: 50px;
    width: auto;
    float: right;
    background-color: #FFFFFF;
    margin-right: 10px;
    margin-left: 40px;
}

#logo {
    float: left; 
    margin-left: 10px; 
    height: 70px; 
    width: auto;
    margin: 10px;
}

#main {
    background-color: #FFFFFF;
    display:grid;
    grid-auto-flow: column;
    justify-content: center;
    margin: 20px 10px;
    border-top: 40px solid #7D8892;
    border-left: 3px solid #CECECE;
    border-right: 3px solid #CECECE;
    border-bottom: 3px solid #CECECE;
}

#content {
    font-size: 150%;
    margin-left: 60px;
}

#inputForm {
    margin-top: 100px;
    margin-right: 10px;
}

#prodImg {
    height: 60vh;
    width: auto;
    margin: 20px;
}

#guess {
    width: 20vh;
    font-size: 300%;
    margin-bottom: 10px;
    padding: 0px 65px;
}

#hint {
    font-size: 175%;
    background-color: #65D548;
    font-weight: bold;
    padding: 0px 20px;
}

#submit {
    font-size: 175%;
    background-color: #65D548;
    padding: 0px 20px;
    font-weight: bold;
}

