{% extends 'myapp/main.html' %}

{% block content %}


<!-- {{name}} -->
<!-- <br> -->
<!-- {{price}} -->
<!-- <br> -->
<!-- {{ratings}} -->
<!-- <br> -->
<!-- {{category}} -->
<!-- <br> -->
<!-- {{url}} -->
<!-- <br> -->
<!-- <img src={{imageSrc}}> -->

<div class="modalContainer" id="scoreSummary">
    <div class="modal">
        <h1>Score Summary</h1>
        <p id=roundScore></p>
        <button id="closeModal" onClick="closeSummary()">Close</button>
    </div>
</div>

<div id="main">
    <div id="content"> 
        <div id="info"> 
            <!-- Replace info once submit button is pressed -->
            <h2 id="round">Round: </h2>
            <h2 id="totalScore">Score: </h2>
        </div>

        <div id="inputForm">
            <h3>What do you think the price of this item is?</h3>
            <form>{% csrf_token %}
                <label for="guess">Guess (in USD):</label><br>
                <input type="text" id="guess" name="guess" maxlength="7" autocomplete="off"><br>
                <button type="button" id="submit" onClick="makeGuess()">Guess!</button>
                <button type="button" id="hint" onClick="revealHint()">Hint!</button>
            </form>
            <br>
            <em>* Points will be deducted for requesting a hint!</em>
            <h2 id="hint1" style="display: none"> title </h2>
            <h3 id="hint2" style="display: none"> ratings </h3>
            <h3 id="hint3" style="display: none"> category </h3>
        </div>
        
    </div>
    <img src="" class="center" id="prodImg">
</div>

<table id="leaderboard">
    <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Score</th>
    </tr>
    {% for record in leaderboard %}
    <tr>
        <td>{{forloop.counter}}</td>
        {% if record.player.username is not none %}
            <td>{{ record.player.username }}</td>
        {% else %}
            <td>Guest</td>
        {% endif %}
        <td>{{ record.totalScore }}</td>
    </tr>
    {% endfor %}
</table>

<!-- For the code where submit button action is, we get basically do like return "constant" * abs({{price}} - getText()) or something-->

{% endblock %}

