{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>AmazonGuessr!</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    </head>

    <body>
        <nav> 
            <!-- Change to username when logged in -->
            <img id="logo" src="{% static '/images/AmazonGuessrLogo.png' %}">
            <div id="profile">
                <h1>Let's Explore Amazon's Catalog!!</h1>
                <a><img id="profImg"src="https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png"></a>
            </div>
        </nav>

        {% block content %}



        {% endblock %}

        <script src="{% static '/js/main.js' %}"></script>
    </body>
</html>

